[worldserver]

###################################################################################################
#   CUSTOM LOGIN
###################################################################################################

# Enable the module? (1: true | 0: false)

CustomLogin.Enable = 1

# New characters start with items? (1: true | 0: false)

CustomLogin.Items = 1
